@font-face {
  font-family: 'ooo';
  src: local(ooo), url(../src/fonts/SvargaTypefacePERSONALUSEONLY-Regular.otf) format('opentype');
}

.contact-text {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-left: 10%;
  margin-top: 1%;
  font-family: ooo;
}

.contact-line {
  position: absolute;
  top: 26%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 2px;
  background-color: #000;
}

.container-1 {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  height: 20%;
  width: 40%;
}
.contact-img {
  margin-top: 20%;
}
.btn-contact {
  width: 150px;
  height: 50px;
  background: #69358d !important;
  border: 0px;
}
