.crystals-line {
  top: 32.5%;
  position: absolute;
  left: 57%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 2px;
  background-color: #000;
}

.crystals-item {
  margin-left: 2.7%;
  margin-right: 2.7%;
}

.price {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
  text-decoration: none;
  color: #000;
}
