.nav-container {
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
    /* box-shadow: 0 1px 0 0 #e7e7e7; */
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
    width: 100%;
}